:root {
    --dark-color: #2f048c;
    --off-white: #f2f2f2;
    --blue-color: #0583f2;
    --correct-color: #1fa61b;
    --wrong-color: #e21a1a;
    --dark-gray-color: #2C2E2F;
    --active-btn: #F2B705;
}



*{
    box-sizing: border-box;
    font-family: sans-serif, Helvetica, Arial;
    /* border: 1px solid lightcoral; */
}

header {
    padding-left: 10px;
    padding-right: 10px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vw;
}

.container {
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.main-page {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-page p {
    padding: 10px 15px 10px 15px;
    text-align: center;
    
}

#welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: visible;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}


.correct-hide,
.wrong-hide {
    display: none;
}

h1, h2 {
    color: var(--blue-color);
    text-align: center;
}



#question-container.activeQuestion {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
}


.answer-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
}

.choice {
    width: 100%;
    text-align: left;
    background-color: var(--dark-color);
    color: var(--off-white);
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
    border: 1px solid var(--dark-color);
    border-radius: 5px;
}

.choice:hover {
background-color: var(--blue-color);
color: var(--dark-gray-color);
border: 1px solid var(--dark-gray-color);
cursor: pointer;
}

.choice:active {
background-color: var(--active-btn);
color: var(--dark-gray-color);
}

#start-btn {
    font-size: 25px;
    line-height: 36px;
    padding: 8px 12px;
    margin-top: 15px;
    color: var(--off-white);
    background-color: var(--dark-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.is-it-correct {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    /* border-top: 2px solid lightgray; */
}

#if-correct {
    color: var(--correct-color);
}

#if-wrong {
    color: var(--wrong-color);
}

#correct, #wrong {
    font-style: italic;
    font-weight: bolder;
}
